body {
    background-color: lightgrey;
}
h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color: white;
    text-align: left;
    top:0px;
    left:0px;
}
header {
    background-color: lightblue;
}
#geo {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: grey;
    text-align: left;
    margin-top: 5px;
    top:0px;
    left:0px;
}
nav.menu ul { 
    list-style-type: none; 
    margin: 0px; 
    padding: 0px; 
    text-align: right;
    top:0px;
    right:0px;
} 
nav.menu li { 
    display: inline;
}
nav.menu li a { 
    text-decoration: none; 
    padding-left: 6px;
    padding-right: 6px; 
    padding-top: 4px;
    color:white;
    background-color: lightblue;
} 
nav.menu li a:hover { 
    background-color: grey; 
} 
h3 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
    text-align: left;
    margin-top: 5px;
    top:0px;
    left:0px;
    padding: 20px;
}
.a {
    margin-top: 5px;
    margin-left: 400px;
    margin-right:400px;  
    background-color: white;
    border:lightblue solid 5px;
    padding: 10px;
    text-align: center;

}
.b {
    margin-top: 5px;
    margin-left: 400px;
    margin-right:400px; 
    background-color: white;
    border:lightblue solid 5px;
    padding: 10px;
    text-align: center;
}
.c {
    margin-top: 5px;
    margin-left: 400px;
    margin-right:400px; 
    background-color: white;
    border:lightblue solid 5px;
    padding: 10px;
    text-align: center;
}




